@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 22% 94%;
    --foreground: 30 10% 25%;
    --card: 0 0% 100%;
    --card-foreground: 30 10% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 30 10% 20%;
    --primary: 51 83% 79%;
    --primary-foreground: 30 10% 20%;
    --secondary: 48 20% 88%;
    --secondary-foreground: 30 10% 20%;
    --muted: 48 20% 88%;
    --muted-foreground: 30 10% 45%;
    --accent: 31 83% 68%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 48 15% 85%;
    --input: 48 15% 85%;
    --ring: 31 83% 68%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 30 10% 10%;
    --foreground: 48 22% 94%;
    --card: 30 10% 15%;
    --card-foreground: 48 22% 94%;
    --popover: 30 10% 10%;
    --popover-foreground: 48 22% 94%;
    --primary: 51 83% 79%;
    --primary-foreground: 30 10% 10%;
    --secondary: 30 10% 20%;
    --secondary-foreground: 48 22% 94%;
    --muted: 30 10% 20%;
    --muted-foreground: 48 22% 80%;
    --accent: 31 83% 68%;
    --accent-foreground: 30 10% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 10% 20%;
    --input: 30 10% 20%;
    --ring: 31 83% 68%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
